
body{ background-color: rgb(255, 255, 255);} 
* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  
 }


 @import "compass/css3";
/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: right; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.left {
  float: left; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


h1 {
  font-weight: 500;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
}

h1:before{
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: 0;
  left: 40%;
  border-bottom: 1px solid rgb(17, 7, 7);
}

