
{% extends "base.html" %}
{% load static %}


    
{% block page_content %}
<link rel="stylesheet" href="{% static 'aboutme.css' %}" >
<!-- O mnie -->
<div class="about">
    <div class="row">
        <div class="side">
            <!-- moje zdjecie --> 
            <img id='my_photo' src="{% static 'profilowe.jpg'  %}"  alt="ja!">
            
        </div>
        
        <div class="main">
            <h1> O mnie </h1>
            Nazywam się Kacper Babiak i mam 24 lata. Niedawno ukończyłem Informatykę na Politechnice Poznańskiej. Uwielbiam się uczyć i rozwijać, w wolnym czasie lubię tworzyć projekty, stąd ta strona internetowa.
            Z racji na mój zawód, pokazywane tu pomysły kręcą się głównie wokół analizy danych oraz różnego rodzaju zastosowań sztucznej inteligencji. Staram się łączyć te tematyki z innymi zainteresowaniami, takimi jak rysunek, żeglarstwo czy mangi.
        </div>
    </div>




</div>

<!-- Edukacja -->
<div class = 'education'>

    <h1> Edukacja </h1>
    <p class="paragraph">
    Studia pierwszego stopnia z Teleinformatyki ukończyłem pracą inżynierską o tytule "Wykorzystanie
    eksploracyjnej analizy danych i narzędzi
    statystycznych w detekcji i klasyfikacji
    uszkodzeń skóry". Pracę rozpocząłem już na praktykach, gdzie szukałem odpowiednich danych w bazach medycznych i uczyłem się narzędzi na podstwawie konkursów z Kaggle.
    W efekcie nauczyłem się ogólnego wybierania, oczyszczania, wizualizacji oraz eksploracyjnej analizy danych. Opanowałem też różne metody detekcji oraz klasyfikacji obrazów.
  </p>
    <p>
    Jako studia drugiego stopnia wybrałem Informatykę ze specjalizacją Internet Przedmiotów. W ramach pracy magisterskiej chciałem zrobić coś związanego z moimi pasjami - grami oraz tworzeniem histori.
    Zainteresował mnie temat klasycznego planowania i jego zastosowań w proceduralnie generowanych narracjach. Takie narzędzie mogłoby znacznie zwiększyć regrywalność i róznorodność fabuł w grach poprzez na przykład szybkie "dorabianie" nowych ścieżek historii.
    Ostatecznie przez ograniczenia planerów wyewoluowała w próbe stworzenia systemu działającego podobnie dobrze, a znacznie szybciej. Zastosowana między innymi sieci neuronowo uczone przez wzmocnienie.
    Praca została napisana w języku angielskim a jej ostateczny tytuł brzmi "Symulowanie działań
    postaci w proceduralnie generowanej
    narracji w grach przy użyciu sieci
    neuronowych i planerów".
  </p>
  <p>
    W 2024 roku wraz ze znajomymi wziąłem udział w Huawei ICT Competition. W ramach ścieżki Cloud pojechaliśmy reprezentować Polskę na finałach w Chinach, zajeliśmy drugie miejsce na świecie.
  </p>

</div>

<img src="https://put.poznan.pl/sites/default/files/styles/1080p/public/2024-05/6U6A6484-opq3011185254.jpg?itok=tRf5N2P7" alt="huawei" id="huawei">


<section id="flip-inner">
	<h1>Tile Animation: Flip</h1>
	<div class="ss-three-column-guttered-grid">
    <div class="tile-row">
      <div class="tile">
        <h2>Python</h2>
        <div class="inner">
          <div class="header">
            
            <img id = 'image-tile'src="https://w7.pngwing.com/pngs/677/842/png-transparent-python-hd-logo-thumbnail.png" alt="A Logo" />
          </div>
          <div class="content">

            <p class="wrap"> 
            Duzo umiem :))))) loreamsdnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            Duzo umiem :))))) loreamsdnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            Duzo umiem :))))) loreamsdnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            Duzo umiem :))))) loreamsdnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
          </div>
          
        </div>
      </div>
      
      <div class="tile">
        <div class="image" style="background-image:url(http://placehold.it/600x600&text=Tile+Image);"></div>
        <div class="inner">
          <div class="header">
            <h3>Some Logo Title</h3>
            <img src="http://placehold.it/200x100/252525/fad5bc/&text=Logo" alt="A Logo" />
          </div>
          <div class="content">
            <button class="button primary">Read More</button>
          </div>
          <div class="footer">
            <ul class="ss eight column guttered grid">
              <li><i class="fa fa-paint-brush"></i></li>
              <li><i class="fa fa-television"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="image" style="background-image:url(http://placehold.it/600x600&text=Tile+Image);"></div>
        <div class="inner">
          <div class="header">
            <h3>Some Logo Title</h3>
            <img src="http://placehold.it/200x100/252525/fad5bc/&text=Logo" alt="A Logo" />
          </div>
          <div class="content">
            <button class="button primary">Read More</button>
          </div>
          <div class="footer">
            <ul class="ss eight column guttered grid">
              <li><i class="fa fa-paint-brush"></i></li>
              <li><i class="fa fa-television"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="tile-row">
      <div class="tile">
        <div class="image" style="background-image:url(http://placehold.it/600x600&text=Tile+Image);"></div>
        <div class="inner">
          <div class="header">
            <h3>Some Logo Title</h3>
            <img src="http://placehold.it/200x100/252525/fad5bc/&text=Logo" alt="A Logo" />
          </div>
          <div class="content">
            <button class="button primary">Read More</button>
          </div>
          <div class="footer">
            <ul class="ss eight column guttered grid">
              <li><i class="fa fa-paint-brush"></i></li>
              <li><i class="fa fa-television"></i></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="tile">
        <div class="image" style="background-image:url(http://placehold.it/600x600&text=Tile+Image);"></div>
        <div class="inner">
          <div class="header">
            <h3>Some Logo Title</h3>
            <img src="http://placehold.it/200x100/252525/fad5bc/&text=Logo" alt="A Logo" />
          </div>
          <div class="content">
            <button class="button primary">Read More</button>
          </div>
          <div class="footer">
            <ul class="ss eight column guttered grid">
              <li><i class="fa fa-paint-brush"></i></li>
              <li><i class="fa fa-television"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="image" style="background-image:url(http://placehold.it/600x600&text=Tile+Image);"></div>
        <div class="inner">
          <div class="header">
            <h3>Some Logo Title</h3>
            <img src="http://placehold.it/200x100/252525/fad5bc/&text=Logo" alt="A Logo" />
          </div>
          <div class="content">
            <button class="button primary">Read More</button>
          </div>
          <div class="footer">
            <ul class="ss eight column guttered grid">
              <li><i class="fa fa-paint-brush"></i></li>
              <li><i class="fa fa-television"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
	</div>
</section>

<!-- Umiejętności -->
<div class = 'skills'>
    <!-- umiejetnosci - też jako tabela, albo moze te smieszne elementy  -->
    <h1> Umiejętności </h1>
   
      <table class="tg"><thead>
        <tr>
          <th class="tg-fymr">Python</th>
          <th class="tg-0pky">Używany przeze mnie bardzo często do głównie analizy danych oraz algorytmów uczenia maszynowego, ale też np. do stworzenia tej strony za pomocą Django</th>
        </tr></thead>
      <tbody>
        <tr>
          <td class="tg-fymr">Java</td>
          <td class="tg-0pky">Pomniejsze projekty związane z planerami oraz studiami</td>
        </tr>
        <tr>
          <td class="tg-fymr">Unity oraz C#</td>
          <td class="tg-0pky">Jestem zafascynowany gamedevem, chociaż próbowałem też Godota, Renpy itd. Te technologie przekonały mnie najbardziej</td>
        </tr>
        <tr>
          <td class="tg-fymr">Wszelakie biblioteki przydatne przy analizie danych</td>
          <td class="tg-0pky">Przede wszystkim Scikit-learn, pandas, matplotlib</td>
        </tr>
        <tr>
          <td class="tg-fymr">SQL</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-fymr">Excel, powerpoint</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-fymr">Doswiadczenie w sprzedaży</td>
          <td class="tg-0pky">Dla poszerzenia horyzontów, spędziłem pare miesięcy w Greenpeace</td>
        </tr>
        <tr>
          <td class="tg-fymr">Język angielski</td>
          <td class="tg-0pky">Poziom zaawansowany. Bezproblemowe i płynne pisanie, czytanie oraz rozmawianie.</td>
        </tr>
        <tr>
          <td class="tg-fymr">Uczenie maszynowe</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-fymr">Głębokie sieci neuronowe</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-fymr">Prawo jazdy kategorii B</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-fymr">Patent żeglarski</td>
          <td class="tg-0pky"></td>
        </tr>
      </tbody></table>
      </div>

<!-- Zainteresowania -->
<div class="hobbies">
    <h1> Zainteresowania </h1>
    <p>Zostałem wciągnięty przez przyjaciół w świat żeglarstwa, brałem udział w rejsach między innymi po Bałtyku i zatoce Neapolitańskiej.</p>
    <p> Kocham gotować
      Od wielu lat rysuje.</p>
    <p>Moim marzeniem jest wydanie ksiązki, komiksu oraz gry komputerowej.
      W ostatnim czasie polubiłem branie udziału w gamejamach, byłem na Warsaw Mermaid Game Jam.</p>
    

   

    
    
</div>


{% endblock page_content %}

