
{% extends "base.html" %}
{% load static %}


    
{% block page_content %}
<link rel="stylesheet" href="{% static 'aboutme.css' %}" >
<!-- O mnie -->
<div class="about">
    <div class="row">
        <div class="side">
            <!-- moje zdjecie --> 
            <img id='my_photo' src="{% static 'profilowe.jpg'  %}"  alt="ja!">
            
        </div>
        
        <div class="main">
            <h1> O mnie </h1>
            Nazywam się Kacper Babiak i mam 24 lata. Niedawno ukończyłem Informatykę na Politechnice Poznańskiej. Uwielbiam się uczyć i rozwijać, w wolnym czasie lubię tworzyć projekty, stąd ta strona internetowa.
            Z racji na mój zawód, pokazywane tu pomysły kręcą się głównie wokół analizy danych oraz różnego rodzaju zastosowań sztucznej inteligencji. Staram się łączyć te tematyki z innymi zainteresowaniami, takimi jak rysunek, żeglarstwo czy mangi.
        </div>
    </div>




</div>

<!-- Edukacja -->
<div class = 'education'>

    <h1> Edukacja </h1>
    <p class="paragraph">
    Studia pierwszego stopnia z Teleinformatyki ukończyłem pracą inżynierską o tytule "Wykorzystanie
    eksploracyjnej analizy danych i narzędzi
    statystycznych w detekcji i klasyfikacji
    uszkodzeń skóry". Pracę rozpocząłem już na praktykach, gdzie szukałem odpowiednich danych w bazach medycznych i uczyłem się narzędzi na podstwawie konkursów z Kaggle.
    W efekcie nauczyłem się ogólnego wybierania, oczyszczania, wizualizacji oraz eksploracyjnej analizy danych. Opanowałem też różne metody detekcji oraz klasyfikacji obrazów.
  </p>
    <p>
    Jako studia drugiego stopnia wybrałem Informatykę ze specjalizacją Internet Przedmiotów. W ramach pracy magisterskiej chciałem zrobić coś związanego z moimi pasjami - grami oraz tworzeniem histori.
    Zainteresował mnie temat klasycznego planowania i jego zastosowań w proceduralnie generowanych narracjach. Takie narzędzie mogłoby znacznie zwiększyć regrywalność i róznorodność fabuł w grach poprzez na przykład szybkie "dorabianie" nowych ścieżek historii.
    Ostatecznie przez ograniczenia planerów wyewoluowała w próbe stworzenia systemu działającego podobnie dobrze, a znacznie szybciej. Zastosowana między innymi sieci neuronowo uczone przez wzmocnienie.
    Praca została napisana w języku angielskim a jej ostateczny tytuł brzmi "Symulowanie działań
    postaci w proceduralnie generowanej
    narracji w grach przy użyciu sieci
    neuronowych i planerów".
  </p>
  <p>
    W 2024 roku wraz ze znajomymi wziąłem udział w Huawei ICT Competition. W ramach ścieżki Cloud pojechaliśmy reprezentować Polskę na finałach w Chinach, zajeliśmy drugie miejsce na świecie. W tym roku planuje powtórzenie tego, tym razem w kategorii computing.
  </p>

</div>

<img src="https://put.poznan.pl/sites/default/files/styles/1080p/public/2024-05/6U6A6484-opq3011185254.jpg?itok=tRf5N2P7" alt="huawei" id="huawei">


<section id="flip-inner">
  <div id="exp">
	<h1>Umiejętności</h1>

  <p > Podczas studiów spędziłem sporo czasu próbując różnych technologii, języków programowania itp. Próbowałem swoich sił międzyinnymi w Javie, C++, bardzo lubiłem też tworzenie aplikacji w Android Studio.
    Ostatecznie jednak najbardziej spodobała mi się praca z danymi.
    Poniżej przedstawiam moje umiejętności, które uważam za najważniejsze.
  </p>
  </div>

	<div class="ss-three-column-guttered-grid">
    <div class="tile-row">
      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">Python</h1>
            <img id = 'image-tile'src="{% static 'python-brands-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Jest to najczęściej używany przeze mnie język programowania z powodu jego wygody i możliwości w lubianych dziedzinach. Głównie używam przy uczeniu maszynowym 
            i analizie danych, ale nie tylko. Ta strona stworzona jest przy pomocy Django, eksperymentowałem też z stworzeniem gier (renpy, pygame).
          
            </p>
          </div>
          
        </div>
      </div>

      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">Analiza danych</h1>
            <img id = 'image-tile'src="{% static 'chart-pie-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Rozpocząłem od pracy inżynierskiej związanej z eksploracyjną analizy danych. Brałem udział w projektach z Kaggle. Od tego czasu lubie zbierać różnego rodzaju
            informacje, rozkładać je na czynniki pierwsze, analizować i odpowiednio przedstawiać. Dlatego też część moich projektów jest mocno związana z moimi hobby :)
            Uważam, że takie podejście przez zabawe świetnie rozwija.
          
            </p>
          </div>
          
        </div>
      </div>
      
      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">Uczenie maszynowe</h1>
            <img id = 'image-tile'src="{% static 'robot-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Staram się uczyć jak największej ilości dziedzin ML by jak najszerzej poznać tematyke. Bardzo często wykorzystuje dane z innych projektów by coś przećwiczyć,
            np. dane zebrane do rekomendacji służą mi przy doświadczaniu przetwarzania języka naturalnego i ogólnie pracy z tekstem. Zahaczałem też na przykład o analize obrazów, detekcje obiektów. 
            Przy pracy magisterkiej bardzo mocno zainteresowałem się sieciami neuronowymi, a także uczeniem przez wzmocnienie. Jest to bardzo skomplikowana dziedzina, ale ciekawa i obiecująca - chciałbym w przyszłości więcej z nią podziałać.
          
            </p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="tile-row">
      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">SQL</h1>
            <img id = 'image-tile'src="{% static 'database-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Podstawy relacyjnych baz danych poznałem na zajęciach podczas studiów. Teraz używam np. MySql do przechowywania danych na tej stronie, na ich podstawie będe tworzył analizy.  
          
            </p>
          </div>
          
        </div>
      </div>

      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">Excel</h1>
            <img id = 'image-tile'src="{% static 'table-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Używam często nawet w życiu codziennym, przykładowo zapisuje postępy w chudnięciu, diecie oraz treningach. Umiem makra oraz VBA. 
          
            </p>
          </div>
          
        </div>
      </div>
      
      <div class="tile">
        
        <div class="inner">
          
          <div class="header">
            <h1 id="tile-title">Unity</h1>
            <img id = 'image-tile'src="{% static 'unity-brands-solid.svg'  %}"  alt="A Logo" />
          </div>
          <div class="content">
            
            <p class="wrap"> 
            Bardzo chciałbym w przyszłości stworzyć grę. W tym momencie zajmuje się raczej ich projektowaniem i pomniejszymi pomysłami. Brałem udział w Mermaid Game Jam
            i planuje to powtórzyć. Szczególnie interesują mnie gry rogue-lite, proceduralnie generowane oraz te ciekawie wykorzystujące historie. Umiem C#.
            </p>
          </div>
          
        </div>
      </div>
    </div>
	</div>
</section>



<!-- Zainteresowania -->
<div class="hobbies">
    <h1> Zainteresowania </h1>
    <p>Zostałem wciągnięty przez przyjaciół w świat żeglarstwa, brałem udział w rejsach między innymi po Bałtyku i zatoce Neapolitańskiej.</p>
    <p> Kocham gotować - dużo eksperymentuje i staram się ciągle robić coś nowego.
      Od wielu lat rysuje, niedawno zacząłem też więcej malować. Szczególnie skupiam się na postaciach, ludzkich twarzach i ciałach.</p>
    <p>Moim marzeniem jest wydanie ksiązki, komiksu oraz gry komputerowej.
      W ostatnim czasie polubiłem branie udziału w gamejamach, byłem na Warsaw Mermaid Game Jam.</p>
    

   

    
    
</div>

<!--

<div class="container">
  <div class="top">
      <ul>
          <li><a href="#img_1"><img src="https://farm8.staticflickr.com/7564/16097104758_e60521f7fa_b.jpg"></a></li>
            <li><a href="#img_2"><img src="https://picjumbo.imgix.net/HNCK4011.jpg?q=40&w=1650&sharp=30"></a></li>
            <li><a href="#img_3"><img src="https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=46a85a1451e47aea5152ade8299f2894"></a></li>
            <li><a href="#img_4"><img src="https://picjumbo.imgix.net/HNCK3991.jpg?q=40&w=1650&sharp=30"></a></li>
            <li><a href="#img_5"><img src="https://image.freepik.com/free-photo/sunlight-in-the-forest_1004-9.jpg"></a></li>
            <li><a href="#img_6"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a></li>
            <li><a href="#img_7"><img src="https://image.freepik.com/free-photo/shiny-lights_385-19321244.jpg"></a></li>
            <li><a href="#img_8"><img src="https://image.freepik.com/free-photo/skyscraper-with-clouds-reflection_23-10.jpg"></a></li>
            
        </ul>
        <a href="#_1" class="lightbox trans" id="img_1"><img src="https://farm8.staticflickr.com/7564/16097104758_e60521f7fa_b.jpg"></a>
        <a href="#_2" class="lightbox trans" id="img_2"><img src="https://picjumbo.imgix.net/HNCK4011.jpg?q=40&w=1650&sharp=30"></a>
        <a href="#_3" class="lightbox trans" id="img_3"><img src="https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=46a85a1451e47aea5152ade8299f2894"></a>
        <a href="#_4" class="lightbox trans" id="img_4"><img src="https://picjumbo.imgix.net/HNCK3991.jpg?q=40&w=1650&sharp=30"></a>
        <a href="#_5" class="lightbox trans" id="img_5"><img src="https://image.freepik.com/free-photo/sunlight-in-the-forest_1004-9.jpg"></a>
        <a href="#_6" class="lightbox trans" id="img_6"><img src="https://image.freepik.com/free-photo/road-curve-landscape_426-19324358.jpg"></a>
        <a href="#_7" class="lightbox trans" id="img_7"><img src="https://image.freepik.com/free-photo/shiny-lights_385-19321244.jpg"></a>
        <a href="#_8" class="lightbox trans" id="img_8"><img src="https://image.freepik.com/free-photo/skyscraper-with-clouds-reflection_23-10.jpg"></a>
        
    </div>
</div>
-->
{% endblock page_content %}

